In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
df=pd.read_csv(r'D:\Cleaned_data.csv')
df

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1850,AFG,3752993,2.370384e+10,0.000,0.000,3.15788,0.148716,14.96154,...,0.00792,0.113,0.019227,0.128121,0.000069,0.000058,0.000434,0.0,7.436,0.629
1,Afghanistan,1851,AFG,3767956,2.370384e+10,0.000,0.000,3.15788,0.148716,14.96154,...,0.00792,0.107,0.019227,0.156000,0.000000,0.000000,0.000000,0.0,7.500,0.633
2,Afghanistan,1852,AFG,3783940,2.370384e+10,0.000,0.000,3.15788,0.148716,14.96154,...,0.00792,0.106,0.019227,0.155000,0.000000,0.000000,0.000000,0.0,7.560,0.637
3,Afghanistan,1853,AFG,3800954,2.370384e+10,0.000,0.000,3.15788,0.148716,14.96154,...,0.00792,0.105,0.019227,0.155000,0.000000,0.000000,0.000000,0.0,7.620,0.641
4,Afghanistan,1854,AFG,3818038,2.370384e+10,0.000,0.000,3.15788,0.148716,14.96154,...,0.00792,0.105,0.019227,0.155000,0.000000,0.000000,0.000000,0.0,7.678,0.644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35808,Zimbabwe,2019,ZWE,15271377,2.514642e+10,0.473,0.031,10.26300,-0.942000,-8.41100,...,0.00000,0.252,0.030000,0.106000,0.001000,0.001000,0.002000,0.0,34.348,17.531
35809,Zimbabwe,2020,ZWE,15526888,2.317871e+10,0.496,0.032,8.49500,-1.768000,-17.23100,...,0.00000,0.260,0.028000,0.105000,0.001000,0.001000,0.002000,0.0,31.323,15.775
35810,Zimbabwe,2021,ZWE,15797220,2.514009e+10,0.531,0.034,10.20400,1.709000,20.12000,...,0.00000,0.241,0.032000,0.104000,0.001000,0.001000,0.002000,0.0,33.549,17.599
35811,Zimbabwe,2022,ZWE,16069061,2.590159e+10,0.531,0.033,10.42500,0.221000,2.16900,...,0.00000,0.227,0.028000,0.103000,0.001000,0.001000,0.002000,0.0,33.772,17.910
35812,Zimbabwe,2023,ZWE,16340829,1.623072e+10,0.531,0.032,11.16400,0.739000,7.09000,...,0.00000,0.204,0.028000,0.102000,0.001000,0.001000,0.002000,0.0,33.955,18.608

In [5]:
# 1. Display all unique countries in the dataset.
unq =df['country'].unique()
print(unq)

['Afghanistan' 'Africa' 'Albania' 'Algeria' 'Macao' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Bahamas' 'Armenia' 'Asia'
 'Asia (excl. China and India)' 'Australia' 'Austria' 'Azerbaijan'
 'Bahrain' 'Bangladesh' 'Belize' 'Barbados' 'Belarus' 'Belgium' 'Benin'
 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Cape Verde'
 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Comoros' 'Colombia' 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire"
 'Djibouti' 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Dominica' 'Dominican Republic'
 'East Timor' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe' 'European Union (27)'
 'Fiji' 'Finland' 'Gambia' 'France' 'Gabon' 'Georgia' 'Germany' 'Grenada'
 'Ghana' 'Greece' 'Guatemala' 'Guinea-Bissau' 'Guinea' 'Guyana' 'Palau'
 'Haiti' 'High-income countries' 'Honduras' 'Hong Kong' 'Hungary'
 'Kiribati' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' 'Lesotho' 'Laos' 'Liberia' 'Latvia' 'Lebanon' 'Libya'
 'Liechtenstein' 'Lithuania' 'Low-income countries'
 'Lower-middle-income countries' 'Luxembourg' 'Madagascar' 'Maldives'
 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania' 'Micronesia (country)'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Nauru' 'Myanmar' 'Namibia' 'Nepal' 'Niue' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North America' 'North Korea'
 'North Macedonia' 'Norway' 'Oceania' 'Oman' 'Pakistan' 'Panama'
 'Papua New Guinea' 'Samoa' 'Paraguay' 'Peru' 'Philippines' 'Saint Lucia'
 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Vincent and the Grenadines'
 'Turks and Caicos Islands' 'Sao Tome and Principe' 'Saudi Arabia'
 'Seychelles' 'Senegal' 'Serbia' 'Sierra Leone' 'Singapore'
 'Solomon Islands' 'Slovakia' 'Slovenia' 'Somalia' 'South Africa' 'Tonga'
 'South Sudan' 'South America' 'South Korea' 'Spain' 'Sudan' 'Sri Lanka'
 'Suriname' 'Sweden' 'Taiwan' 'Switzerland' 'Syria' 'Tajikistan'
 'Tanzania' 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine' 'Vanuatu'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'Upper-middle-income countries' 'Uruguay' 'Uzbekistan' 'Venezuela'
 'Vietnam' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

In [6]:
#2. Find the total number of years available.
years=df['year'].nunique()
print(years)

174

In [7]:
#3. What is the earliest and latest year in the dataset? 
earliest = df['year'].min()
latest= df['year'].max()
print('earliest='+str(earliest))
print('latest='+str(latest))

earliest=1850
latest=2023

In [8]:
#4. What is the total CO₂ emission in the most recent year?
total=df[df['year']==latest]['co2'].sum()
print(total)

157938.04200000002

In [9]:
#5. Find the top 5 countries with the highest total CO₂ emissions.
top_5= df.groupby('country')['co2'].sum().sort_values(ascending=False)
top_5.head()

country
World                            1.607187e+06
High-income countries            1.135263e+06
Asia                             6.016269e+05
Europe                           5.437968e+05
Upper-middle-income countries    5.167261e+05
Name: co2, dtype: float64

In [10]:
#6. Find the average CO₂ emission per year for India.
avg_co2 = df[df['country'] == 'India']['co2'].mean()
print(avg_co2)

405.61304459770116

In [11]:
#7. What is the maximum and minimum CO₂ emission recorded? 
co2_min=df['co2'].min()
co2_max=df['co2'].max()
print('minimum='+str(co2_min))
print('maximum='+str(co2_max))

minimum=0.0
maximum=37791.57

In [12]:
#8. Which country had the lowest CO₂ emissions in 2010?
df_2010 = df[df['year'] == 2010]
lowest = df_2010.loc[df_2010['co2'].idxmin(), 'country']
lowest

'Niue'

In [13]:
#9. Group the data by country and find the average CO₂ emission per country.
avg_per_country = df.groupby('country')['co2'].mean()
print(avg_per_country)

country
Afghanistan        3.157880
Africa           375.686939
Albania            3.342560
Algeria           48.737851
Andorra            0.477559
                   ...
Vietnam           39.842879
World          19133.178845
Yemen              9.403122
Zambia             3.701730
Zimbabwe           6.736256
Name: co2, Length: 209, dtype: float64

In [14]:
#10. Sort the dataset by CO₂ emission in descending order.
sort = df.sort_values(by='co2', ascending=False)
sort

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
35293,World,2023,NaN,8091734935,6.176898e+13,1569.346000,0.194000,37791.570,497.738,1.33500,...,100.000000,100.000,100.000000,100.000,0.422,1.161,1.668,0.085,53816.850,44114.785
35292,World,2022,NaN,8021407170,1.301126e+14,1601.124000,0.200000,37293.836,302.100,0.81700,...,100.000000,100.000,100.000000,100.000,0.417,1.143,1.644,0.084,53327.215,43746.760
35289,World,2019,NaN,7811293714,1.221494e+14,1623.120000,0.208000,37104.273,373.850,1.01800,...,100.000000,100.000,100.000000,100.000,0.401,1.090,1.571,0.080,52796.523,43147.367
35291,World,2021,NaN,7954448405,1.260048e+14,1696.308000,0.213000,36991.734,1865.208,5.31000,...,100.000000,100.000,100.000000,100.000,0.411,1.125,1.619,0.083,52938.793,43391.350
35288,World,2018,NaN,7729902724,1.187658e+14,1554.511000,0.201000,36730.426,740.528,2.05800,...,100.000000,100.000,100.000000,100.000,0.396,1.072,1.547,0.079,52420.270,42684.906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9818,El Salvador,1901,SLV,854442,1.781570e+10,0.000000,0.000000,0.000,0.000,8800.00000,...,0.000000,0.113,0.034581,0.068,0.000,0.000,0.000,0.000,5.126,0.249
31334,Taiwan,1862,TWN,2275125,2.505750e+11,3.236016,0.158375,0.000,0.000,18.43541,...,0.149641,NaN,0.289266,0.017,0.000,0.000,0.000,0.000,1.239,0.494
31333,Taiwan,1861,TWN,2268804,2.505750e+11,3.236016,0.158375,0.000,0.000,18.43541,...,0.149641,NaN,0.289266,0.017,0.000,0.000,0.000,0.000,1.235,0.493
31332,Taiwan,1860,TWN,2262500,2.505750e+11,3.236016,0.158375,0.000,0.000,18.43541,...,0.149641,NaN,0.289266,0.017,0.000,0.000,0.000,0.000,1.231,0.491
12952,Guatemala,1891,GTM,1387741,4.022072e+10,0.000000,0.000000,0.000,-0.000,-11.32600,...,0.000688,0.054,0.059378,0.142,0.000,0.000,0.000,0.000,5.345,0.386